@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&family=Noto+Naskh+Arabic:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }

  .rtl {
    direction: rtl;
    font-family: 'Noto Naskh Arabic', sans-serif;
  }

  .ltr {
    direction: ltr;
    font-family: 'Noto Sans', sans-serif;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }
}